version: '3.8'
services:
  executor:
    build: ./executor
    image: aniper-executor
    env_file: .env
    restart: unless-stopped
    ports:
      - "9184:9184" # Prometheus metrics
    depends_on:
      - brain
      - redis

  brain:
    build: ./brain
    image: aniper-brain
    env_file: .env
    restart: unless-stopped
    depends_on:
      - redis

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
