global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'executor'
    static_configs:
      - targets: ['executor:9185']

  - job_name: 'brain'
    static_configs:
      - targets: ['brain:9100']
